* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(#7def6e, #f58886);
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 800px;
    padding: 15px;
}

header > .title {
    display: flex;
    align-items: center;
}

.title > img {
    height: 45px;
    width: 45px;
}

header > nav {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 10px;
}

header > nav > button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.1rem;
    font-weight: 700;
}

header > nav > button:hover {
    border-bottom: 2px solid #f58886;
}

header > nav > button:active {
    transform: scale(0.9);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.home > .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    height: 300px;
    width: 100%;
}

.home > .description > img {
    height: 60%;
    width: 200px;
    box-shadow: 1px 1px 2px 4px;
    border-radius: 50%;
}

.home > .description > p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}

.home > .hours {
    background-color: #7def6e;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px;
    padding: 10px;
    margin-bottom: 30px;
}

.home > .hours > h2 {
    margin-bottom: 20px;
}

.home > .hours > li {
    list-style: none;
}

.home > .hours > li > ul {
    font-weight: 700;
    margin-top: 10px;
}

/* Menu Section
.menu {
    margin: 20px auto;
    padding: 15px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 25px;
    background-color: #7def6e;
    width: max(70%, 800px);
    border: 1px solid black;
    border-radius: 20px;
}

.menu-option {
    background-color: #b46362;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    border-radius: 20px;
}

.menu-option > img {
    height: 150px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px;
}

.pizza-description {
    text-align: center;
}

.pizza-description > h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.pizza-description > p {
    font-size: 1.25rem;
}
*/


/* Contact Section
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #7def6e;
    box-shadow: 1px 1px 2px 2px;
    width: 300px;
    padding: 20px;
    margin: 50px auto 0;
    border-radius: 20px;
}

.contact > h2 {
    margin-bottom: 25px;
}

.contact p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
*/
